<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Grade Sheet </title></head>        
    <body>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br>
    <table border=0  height=80  style=font-family:Arial;>
    <tr><td></td><td></td><td></td><td></td><td>&nbsp;</td><td>&nbsp;</td>
    <td style = "font-size:13pt;">NAME</td>
    <td style = "font-size:13pt;padding-left:100px;margin-left: 20px;">{{name.upper() | replace("_", "") }}</td></tr>
    <tr rowspan=2><td></td><td></td><td></td><td></td>
    <td>&nbsp;</td><td>&nbsp;</td><td style = "font-size:13pt;">ENTRY NO</td>
    <td style = "font-size:13pt;padding-left:100px;margin-left: 20px">{{entry_no.upper()}}</td></tr>
    <tr rowspan=2><td></td><td></td><td></td>
    <td></td><td>&nbsp;</td><td>&nbsp;</td>
    <td style = "font-size:13pt;">PROGRAMME</td>
        {% set degree_title = printed_name.upper() + (" IN" if degree_level != "PHD" else "") %}
<td style = "font-size:13pt;padding-left:100px;margin-left: 20px">{{degree_title | e}} {{dept_name | e}} {% if specialisation %}({{specialisation.upper() | e}}){% endif %}</td></tr>
    <tr rowspan=2><td></td><td></td><td></td>
        <td></td><td>&nbsp;</td><td>&nbsp;</td>
        <td style = "font-size:13pt;">&nbsp;</td>
            {% if (enrol_type!= "C") and (deg_type_spec!="-SELECT-")%}
            {% set specialization = deg_type_spec %}
            {% endif %}
        <td style = "font-size:13pt;padding-left:100px;margin-left: 20px">{{specialization}} </td></tr>
    </table><br>
    <table border=0 style="font-family:Arial;width:600px">
    <tr>
    <td style = "font-size:13pt;padding-left:15px;"> &nbsp;&nbsp;&nbsp;&nbsp;{{ last_acad_session | e }} </td>
    </tr>
    </table>
    <br>_________________________________________________________________________________________________________________________________________________

    <table border=0 width="100%" cellspacing=2 cellpadding=3  style=font-family:Arial;>
        <tr><td width='160' align='left' style = font-size:13pt;">&nbsp;&nbsp;&nbsp; COURSE NO</td>
        <td width='750' align='center' style = font-size:13pt;">COURSE TITLE</td>
        <td width='80'align=center style = font-size:13pt;" align='right'> CREDITS</td>
	 <td align='center' width='100' style = font-size:13pt;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; GRADE</td>
        </tr>
        </table>
       ________________________________________________________________________________________________________________________________________________

        <table border=0 width="100%" height=200 cellspacing=2 cellpadding=3  style=font-family:Arial;>
            {% for c in courses %}
            <tr align=left>
                <td></td>
                <td style = font-size:12pt;">&nbsp;&nbsp;&nbsp; {{ c.code.upper() }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td style = font-size:12pt;">{{ c.title.upper() }}</td>
                {% set list1 = c.ltp.split('-') %}
                <td align=center style = font-size:12pt;" align='right'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ list1[4] | replace(".00", "") | replace(".0", "") }}</td> 
                <td></td>
                <td></td>
                <td align='center' width='200' style = font-size:12pt;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ c.grade }}</td>
            </tr>
            {% endfor %}
            </table>
            
            <br><br><br><br><br><br>
            <table align=left border=0 style=font-family:Arial;>
                <tr align=left><td style = font-size:13pt;">&nbsp;&nbsp;EARNED CREDITS (EC): </td><td style = font-size:13pt;">=&nbsp;&nbsp;&nbsp;</td><td style = font-size:13pt;">{{ ec }}</td></tr>
                {% if enrol_type == "C" %}
                <tr align=left><td style = font-size:13pt;">&nbsp;&nbsp;SEMESTER GRADE POINT AVERAGE (SGPA) : &nbsp; </td><td style = font-size:13pt;">=&nbsp;&nbsp;&nbsp;</td><td style = font-size:13pt;">{{ sgpa }}</td></tr>
                {% endif %}
                
                <tr><td>&nbsp;</td></tr><tr align=left><td style = font-size:13pt;">&nbsp;&nbsp;CUMULATIVE EARNED CREDITS (CEC) : </td><td style = font-size:13pt;">=&nbsp;&nbsp;&nbsp;</td><td style = font-size:13pt;">{{ cec }}</td></tr>
               
                {% if enrol_type == "C" %}
                <tr align=left><td style = font-size:13pt;">&nbsp;&nbsp;CUMULATIVE GRADE POINT AVERAGE (CGPA) :  &nbsp;</td><td style = font-size:13pt;">=&nbsp;&nbsp;&nbsp;</td><td style = font-size:13pt;">{{ cgpa }}</td></tr>
                {% endif %}
            </table><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <table align=left border=0 cellspacing =1 cellpadding=4 style=font-family:Arial;>
                <tr><td nowrap style = font-size:14pt>&nbsp;Date:  {{ date_issue }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                    
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                                        
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td width='150'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td nowrap style = font-size:15pt;">Authorised Signatory</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                    
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>                    
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td style = font-size:13pt;"></td>
                </tr>
            </table>
    </body></html>

